* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  font-family: "Kaushan Script", cursive;
  font-size: 25px;
}

.bottom {
  height: 30%;
}

.top {
  height: 70%;
}

.editor {
  outline: none;
  font-size: 20px;
  height: calc(100% - 55px);
}

.output {
  height: 80%;
  padding-left: 10px;
  font-size: 20px;
}

#theme {
  min-width: 170px;
}
